@import url('https://fonts.googleapis.com/css?family=Cuprum%7CRubik');

*{
  box-sizing: border-box;
}

body{
    min-height: 100vh;
    padding-bottom: 50px;
    background-size: contain;
    background-attachment: fixed;
    background-image: url('/images/background.jpg');
}

.not-active{
  display: none;
}


.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1{
  text-align: center;
  padding-top: 80px;
  font-family: 'Cuprum', sans-serif;
  font-size: 100px;
  color: yellow;
}

form{
  display: flex;
  justify-content: center;
  padding: 10vh 0;
}

form>input, form>button {
  border: none;
  height: 50px;
  font-size: 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Cuprum', sans-serif;
}

input{
  width: 400px;
  border: 1px black solid;

}

button{
 color: black;
  border: 1px black solid;
}

section{
  padding: 50px;
  background-color: white;
}

.column{
    padding: 2px;
}

.search-poster{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.columns{

}

.recommendations{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recommendation{

  cursor: pointer;
  text-align: center;
  width: 20%;
  margin: 7px 2px;
  padding: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19)
}

#trailer{
  height: 385px;
  width: 643px;
  margin: 0 auto;
}

iframe{
  height: 100%;
  width: 100%;
}

.is-2, .is-3{
  color: rgb(33, 150, 243);
  font-family: 'Cuprum', sans-serif;
}

.is-3{
  padding-top: 5px;
  padding-left: 20px;
}
